@font-face {
    font-family: Theather;
    src: url(fonts/Broadway.ttf);
}

@font-face {
    font-family: Showtime;
    src: url(fonts/Showtime.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(42, 42, 42);
}

header {
    position: fixed;
    background: rgb(42, 42, 42);
    width: 100%;
    z-index: 2;
}

header img {
    width: 3rem;
    margin: 1%;
    margin-bottom: 0%;
}

header ul li {
    float: right;
    color: #fff;
    font-family: Theather;
    text-decoration: none;
    list-style: none;
    position: relative;
    top: -23px;
    margin: 0 2%;
    letter-spacing: 2px;
    transition: 0.5s;
}

header ul li:hover {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(42, 42, 42);
}

.banner{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(images/Background.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.brand {
    z-index: 1;
    color: #fff;
    font-family: Theather;
    letter-spacing: 20px;
    font-size: 30px;
    margin-left: 5%;
    position: relative;
    top: 70%;
    border-left: 3px #fff solid;
    padding-left: 20px;
    animation: brand 5s forwards;
}

@keyframes brand {
    0% {
        opacity: 0%;
        margin-left: 0;
    }

    50% {
        opacity: 100%;
        margin-left: 5%;
    }
}